@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "nun-light";
    src: url(/assets/fonts/nunito-sans/NunitoSans-Light.ttf);
}
@font-face {
    font-family: "nun-bold";
    src: url(/assets/fonts/nunito-sans/NunitoSans-Bold.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(/assets/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins-bold";
    src: url(/assets/fonts/poppins/Poppins-Bold.ttf);
}

/* general */

*,
*::after,
*::before {
    font-family: "nun-light";
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::after,
*::before {
    position: absolute;
    content: "";
}
::selection {
    color: #000;
    background: #fff;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
.scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #1f1f1f;
}
/* Handle */
.scrollbar-track {
    background: transparent !important;
}
.scrollbar-track-y,
.scrollbar-thumb {
    width: 5px !important;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
}
::-webkit-scrollbar-thumb,
.scrollbar-thumb {
    background: #f8d532 !important;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffd000;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "nun-light";
    position: relative;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    background: #1f1f1f;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    cursor: default !important;
}
.bold {
    font-family: "poppins-bold";
}
.nun-bold {
    font-family: "nun-bold";
}
input,
select,
textarea,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
input,
textarea {
    background-color: transparent;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    transition: 0.5s;
    border-bottom: 3px solid #fff;
    margin-bottom: 25px;
}
textarea {
    margin-bottom: 40px;
    padding-top: 10px;
}
input:focus,
textarea:focus {
    border-bottom: 3px solid #f8d532;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    width: 21px;
    height: 21px;
    background-color: #e2e2e2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
input[type="checkbox"] + label div {
    width: 11px;
    height: 11px;
    border-radius: 1px;
    background-color: #fff;
    transition: 0.3s;
}
input[type="checkbox"]:checked + label {
    background-color: #fff;
}
input[type="checkbox"]:checked + label div {
    background-color: #ed5c2f;
}
.singleCourse input {
    border-bottom: 3px solid #000;
    padding-left: 0;
    margin-bottom: 15px;
}
.singleCourse input::placeholder {
    color: #000;
}
select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 100%;
    background: #f5f5f5;
    height: 50px;
    padding-left: 19px;
    transition: 0.5s;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}
select option {
    color: #fff;
    background-color: rgb(0, 0, 0);
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}
h1 {
    font-weight: 600;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
span {
    font-family: inherit;
}
button {
    cursor: pointer;
    outline: none;
}
img {
    height: auto;
    max-width: 100%;
}
.wrapper {
    width: 1555px;
    margin: auto;
}
.menuBtn .span {
    height: 4px;
    width: 40px;
    margin: 5px 0;
    background-color: #fff;
    transition: 0.3s;
}
.text-custom-dark .menuBtn .span {
    background-color: #000;
}
.menuBtn.clicked .span:first-child {
    rotate: -45deg;
    translate: 0 8px;
}
.menuBtn.clicked .span:last-child {
    rotate: -135deg;
    translate: 0 -9px;
}
.menuBtn.clicked .span:nth-child(2) {
    scale: 0;
}
.swiper-pagination-bullet-active {
    background-color: #131313 !important;
}
.swiper-scrollbar-drag {
    background: rgba(255, 255, 255, 0.486) !important;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        width: 96%;
    }
}

/* end of general */

/* navbar start  */

.navLink {
    position: relative;
}
.navLink::after {
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.3s;
    transform: scaleX(0);
    transform-origin: center;
    border-radius: 1px;
}
.navLink:hover::after {
    transform: scaleX(1);
}
.navLink.active::after {
    transform: scaleX(1);
    background-color: #f8d532;
}

/* navbar end  */

/* slider 1 (hero) start */

.heroSlider .sliderImg {
    width: 480px;
    height: 600px;

    position: relative;
    z-index: 20;
    flex-shrink: 1;
}
.heroSlider .sliderImg .img {
    overflow: hidden;
    border-top-left-radius: 90px;
    width: 100%;
    height: 100%;
}
.heroSlider .sliderImg::before {
    width: 50px;
    height: 50px;
    left: -14px;
    bottom: -16px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
.heroSlider .contentContainer {
    background-color: #343434;
    padding: 54px;
    max-width: 400px;
    height: 430px;
    margin-left: -45px;
    position: relative;
}
.heroSlider .contentContainer::before {
    width: 50px;
    height: 50px;
    right: -14px;
    top: -15px;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
}
.heroSlider .sliderTitle {
    font-size: 40px;
}
.swiper-pagination-fraction {
    width: fit-content !important;
    left: auto !important;
    right: 200px;
    bottom: 18px !important;
    font-family: "nun-bold";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.486);
}
.swiper-pagination-current {
    color: #fff;
}
.swiper-pagination-total {
    font-size: 14px;
}
.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}
.swiper-button-disabled {
    opacity: 0.5;
    scale: 0.95;
}
@media screen and (max-width: 1300px) {
    .heroSlider .sliderTitle {
        font-size: 30px;
    }
    .heroSlider .contentContainer {
        padding: 32px;
        padding-left: 50px;
        max-width: 355px;
        height: 355px;
        margin-left: -41px;
    }
    .heroSlider .sliderImg {
        height: 500px;
    }
    .heroSlider .paragraph {
        height: 105px;
        overflow: hidden;
    }
}
@media screen and (max-width: 600px) {
    .heroSlider .contentContainer {
        padding: 18px;
        padding-left: 50px;
        height: 290px;
        max-width: 260px;
    }
    .heroSlider .sliderTitle {
        font-size: 24px;
    }
    .heroSlider .paragraph {
        font-size: 13px;
        height: 110px;
        margin: 12px 0;
    }
    .heroSlider .sliderImg {
        height: 360px;
    }
    .heroSlider .sliderImg .img {
        border-top-left-radius: 54px;
    }
    .swiper-pagination-fraction {
        right: 130px;
    }
}

/* slider 1 (hero) end */

/* compony boxes start */

.companyBox a span {
    width: 0;
    overflow: hidden;
}
.companyBox:hover a span {
    width: 102px;
    padding-right: 5px;
}
.cBox-green:hover,
.cBox-green:hover a,
.cBox-green a span {
    border-color: #a7de5c;
    color: #a7de5c;
}
.cBox-blue:hover,
.cBox-blue:hover a,
.cBox-blue a span {
    border-color: #3fa0cd;
    color: #3fa0cd;
}
.cBox-red:hover,
.cBox-red:hover a,
.cBox-red a span {
    border-color: #ea2d24;
    color: #ea2d24;
}
.cBox-purple:hover,
.cBox-purple:hover a,
.cBox-purple a span {
    border-color: #7261bd;
    color: #7261bd;
}
.cBox-orange:hover,
.cBox-orange:hover a,
.cBox-orange a span {
    border-color: #ed5c2f;
    color: #ed5c2f;
}

/* compony boxes end */

/* company slider start */

.companySlider .slide-item {
    height: 790px;
    width: 90%;
}
@media screen and (max-width: 1280px) {
    .companySlider .slide-item {
        height: 420px;
    }
}
@media screen and (max-width: 768px) {
    .companySlider .slide-item {
        height: auto;
        width: 100%;
        padding: 10px;
    }
}

/* company slider end */

/* conatct form start */

.contact .form .title {
    color: #fff;
    font-size: 50px;
}
.contact .form .opacity-30 {
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .contact .form .title {
        font-size: 30px;
    }
}

/* conatct form end */

/* image layout start */

.imageLayout .img.long {
    height: 615px;
}
.imageLayout .img.medium {
    height: 288px;
}
.imageLayout .img.short {
    height: 185px;
}
@media screen and (max-width: 1350px) {
    .imageLayout .img.long {
        height: 447px;
    }
    .imageLayout .img.medium {
        height: 192px;
    }
    .imageLayout .img.short {
        height: 128px;
    }
}
@media screen and (max-width: 1000px) {
    .imageLayout .img.long {
        height: 294px;
    }
    .imageLayout .img.medium {
        height: 125px;
    }
    .imageLayout .img.short {
        height: 81px;
    }
}
@media screen and (max-width: 600px) {
    .imageLayout .img.long {
        height: 187px;
    }
    .imageLayout .img.medium {
        height: 74px;
    }
    .imageLayout .img.short {
        height: 55px;
    }
}

/* image layout end */

/* preloader start */

.loaderRing {
    width: 312px;
    height: 312px;
    border: 30px solid #fff;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.loaderRing::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -30px;
    border-radius: 50%;
    border: 30px solid #f8d532;
    rotate: 45deg;
    animation: prixClipFix 5s infinite linear;
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(
            50% 50%,
            0 0,
            100% 0,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
@media screen and (max-width: 1200px) {
    .loaderRing {
        width: 250px;
        height: 250px;
        font-size: 38px;
    }
}

/* preloader end */
